<app-menu-superior></app-menu-superior>
<div class="container main-container">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <a class="btn btn-primary" id="novoEvento" [routerLink]="['/eventos/novo']">
                    <span title="Novo Evento" class="glyphicon glyphicon-plus-sign"></span> Novo Evento
                </a>
            </div>
        </div>
    </div>
    <br>
    <body>
        <table class="eventos-table">
            <tr>
                <th>Nome</th>
                <th>Data de Início</th>
                <th>Data de Encerramento</th>
                <th>Valor</th>
                <th>Online</th>
                <th></th>
                <th>Ações</th>
                <th></th>
            </tr>
            <tr *ngFor="let evento of eventos">
                <td>{{ evento.nome | titlecase }}</td>
                <td>{{ evento.dataInicio | date:'dd/MM/yyyy' }}</td>
                <td>{{ evento.dataFim | date:'dd/MM/yyyy' }}</td>
                <td *ngIf="+evento.valor !== 0">{{ evento.valor | currency:'BRL':'symbol':'1.2-2':'pt' }}</td>
                <td *ngIf="+evento.valor == 0">Gratuito</td>

                <td [ngSwitch]="evento.online">
                    <span *ngSwitchCase="true" class="fa-solid fa-check"></span>
                    <span *ngSwitchCase="false" class="fa-sharp fa-light fa-x"></span>
                </td>
                <td>
                    <a [routerLink]="['/eventos/detalhes', evento.id]" title="Detalhes" class="btn btn-primary">
                      <span class="glyphicon glyphicon-search"></span> saber mais
                    </a>
                  </td>
                  <td>
                    <a [routerLink]="['/eventos/editar', evento.id]" title="Editar" class="btn btn-warning">
                      <span class="glyphicon glyphicon-pencil"></span> Editar
                    </a>
                  </td>
                  <td>
                    <a [routerLink]="['/eventos/excluir', evento.id]" title="Apagar" class="btn btn-danger">
                      <span class="glyphicon glyphicon-trash"></span> Apagar
                    </a>
                  </td>
            </tr>
        </table>
    </body>
</div>
