<app-menu-superior>
    <!-- Conteúdo do menu superior -->
  </app-menu-superior>
  
  <div class="container main-container">
    <h2>Excluir Aluno</h2>
    <div class="alert alert-danger" *ngIf="errors.length > 0">
      <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
      <ul>
        <li *ngFor="let error of errors">{{ error }}</li>
      </ul>
    </div>
    <h3>Tem certeza que deseja excluir este Aluno?</h3>
    <div style="text-align: center; margin: 20px;">
      <h4>{{ evento.nome }}</h4>
      <hr />
      <form novalidate (ngSubmit)="excluirEvento()">
        <div class="form-actions no-color">
          <input type="submit" value="Excluir" class="btn btn-danger" />
          <!-- <a [routerLink]="['/eventos/meus-eventos']" class="btn btn-primary">Voltar para a lista</a> -->
        </div>
      </form>
    </div>
  </div>
  